* {
    margin: 0;
    padding: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;   
}

.header-content-left {
    display: flex;
}

.header-content {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 50px;
    justify-content: flex-end;
    gap: 20px;
}

.header-item-landing-page {
    justify-content: flex-start;
}

.header-content-bottem {
    display: flex;
}

.introduction {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
}

.introduction-text  {
    width: 350px;
    margin-left: 150px;
    margin-bottom: 30px;
}

.introduction-image {
    margin-right: 200px;
    margin-top: 20px;
}

.main-text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-text-boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.box{
    display: flex;
    flex-direction: column;
}
.image {
    border: 1.4px solid #3882F6;
    width: 80px;
    height: 80px;
}

.text-under-box {
    width: 120px;
    height: 40px;
}

.main-bottom {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.main-bottom-box {
    display: flex;
}

.main-bottom-box p {
    font-size: 20px;
    font-style: light italic;
    color: #1F2937;
}

.call-to-action {
    display: flex;
    margin: 50px;
    justify-content: center;
}

.call-to-action-box {
    display: flex;
    background-color: #3882F6;
    padding: 40px;
    color: #E5E7EB;
    font-style: light italic;
}

.call-to-action-box-text {
    margin: auto;
    width: 500px;
    height: 50px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    color: #E5E7EB;
    font-style: light italic;
    justify-content: center;
    padding: 30px;
    font-size: 12px;
}


