* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.header-content {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding: 50px;
    gap: 600px;
}

.header-item-landing-page {
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 15px;
}



.header-content-bottem {
    display: flex;
}

.introduction {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: space-between;
}

.introduction-text  {
    width: 350px;
    margin-left: 400px;
    margin-bottom: 30px;
}

.introduction-text p {
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign-up-button {
    background-color: #3882F6;
    border: #3882F6;
    color: #e5e7eb;
    width: 60px;
    height: 20px;
}

.introduction-image {
    margin-right: 600px;
    margin-top: 20px;
}

.main-text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-text-boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.box{
    display: flex;
    flex-direction: column;
}
.image {
    border: 1.4px solid #3882F6;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.text-under-box {
    width: 120px;
    height: 40px;
}

.main-bottom {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.main-bottom-box {
    display: flex;
}

.main-bottom-box p {
    font-size: 20px;
    font-style: light italic;
    color: #1F2937;
}

.call-to-action {
    display: flex;
    margin: 50px;
    justify-content: center;
}

.call-to-action-box {
    display: flex;
    background-color: #3882F6;
    padding: 40px;
    color: #E5E7EB;
    font-style: light italic;
    border-radius: 15px;
    
}

.call-to-action-box-text {
    margin: auto;
    width: 500px;
    height: 50px;
    font-size: 12px;
}

.call-to-action-box-button {
    background-color: #3882F6;
    border: 1px solid #E5E7EB;
    height: 20px;
    width: 100px;
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-style: light italic;

}

.call-to-action-box-button button {
    background-color: #3882F6;
    color: #e5e7eb;
}


.footer {
    background-color: #1f2937;
    display: flex;
    color: #E5E7EB;
    font-style: light italic;
    justify-content: center;
    padding: 30px;
    font-size: 12px;
}


